# Solar Flares

In [2]:
# Third party libraries
import numpy as np
import pandas as pd
import matplotlib as plt

In [32]:
column_names = ["Flare", "Date", "Start time", "Peak time", "End time", "Duration", "Peak counts", 
                "Total counts", "Energy", "X pos", "Y pos", "Radial", "Active region", 
                "Flag 1", "Flag 2", "Flag 3", "Flag 4", "Flag 5"]

df = pd.read_csv("hessi.solar.flare.UP_To_2018.csv",names=column_names, header = 0)

df.sample(5)

,Flare,Date,Start time,Peak time,End time,Duration,Peak counts,Total counts,Energy,X pos,Y pos,Radial,Active region,Flag 1,Flag 2,Flag 3,Flag 4,Flag 5
9389,2122447,2002-12-24,19:02:32,19:04:10,19:05:44,192,56,45264.0,6-12,938,-257,973,224,A0,P1,NaN,NaN,NaN
107372,15061034,2015-06-10,18:12:48,18:13:46,18:22:04,556,560,525096.0,12-25,-902,-336,963,0,A0,P1,PE,Q1,NaN
43286,6040621,2006-04-06,04:59:36,05:01:50,05:05:40,364,1,1205.0,6-12,780,-70,783,865,A0,DF,P1,Q1,NaN
19363,3081463,2003-08-14,02:08:48,02:18:42,02:50:00,2472,2032,8882016.0,12-25,-210,-296,363,431,A0,DF,P1,Q1,NaN
33413,4110155,2004-11-01,09:02:24,09:02:54,09:04:16,112,16,8760.0,6-12,935,190,954,687,A0,P1,NaN,NaN,NaN

In [38]:
import sys
sys.getsizeof(df["Flare"][0])
def max_bytes_per_column(df):
    max_bytes = {}
    for col in df.columns:
        max_size = df[col].apply(lambda x: sys.getsizeof(x)).max()
        max_bytes[col] = max_size
    return max_bytes

max_bytes_per_column(df)

{'Flare': 28,
 'Date': 59,
 'Start time': 57,
 'Peak time': 57,
 'End time': 57,
 'Duration': 28,
 'Peak counts': 28,
 'Total counts': 24,
 'Energy': 59,
 'X pos': 28,
 'Y pos': 28,
 'Radial': 28,
 'Active region': 28,
 'Flag 1': 51,
 'Flag 2': 51,
 'Flag 3': 51,
 'Flag 4': 51,
 'Flag 5': 69}

32